/* COLOR PALETTE */
/* https://coolors.co/efefef-f4afab-34d1bf-070707-f4eea9 */

nada {

  color:  #30beae,
    #2bac9d,
    #26998b,
    #22867a,
    #1d7369,
    #c8908c,
}

.slider {
    width:100%;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    font-family: 'Roboto Mono', monospace;
}

input[type="text"], textarea,
input[type="email"], textarea,
textarea[id="project-description"], textarea {
    background: #C7C7C7;
}

input[type="text"]:focus, textarea,
input[type="email"]:focus, textarea,
textarea[id="project-description"]:focus, textarea {
    background: #DADADA;
    border: solid 1px #B3B3B3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}



body {
    background: #bbbbbb;
}

.btn:hover {
    font-weight: bolder;
}

.card {
    background: #bbbbbb;
    border: none;
}

.jumbotron {
    background: #bbbbbb;
}

#nav {
    background: #070707;
    padding: 10px;
}

#heart {
    color: #ed254e;
    font-size: 1.6rem;
}

.navbar-brand, .nav-link, .nav-item{
    color: #9c706d;
}

.navbar-brand:hover, .nav-link:hover, .nav-item:hover {
    color: #c8908c;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-brand:hover {
    font-weight: bolder;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-link:hover {
    font-weight: bold;
}

canvas {
    background: #bbbbbb;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow-x: hidden;
    display: block;
}

#about {
    padding-top: 45px;
}

.project {
    padding-bottom: 35px;
}