/* COLOR PALETTE */
/* https://coolors.co/efefef-f4afab-34d1bf-070707-f4eea9 */

nada {

  color:  #30beae,
    #2bac9d,
    #26998b,
    #22867a,
    #1d7369,
    #c8908c,
}

* {
    font-family: 'Roboto Mono', monospace;
}

input[type="text"], textarea {
    background: #DADADA;
}

input[type="email"], textarea {
    background: #DADADA;
}

textarea[id="project-description"], textarea {
    background: #DADADA;
}



body {
    background: #bbbbbb;
}

.btn:hover {
    font-weight: bolder;
}

.card {
    background: #bbbbbb;
    border: none;
}

.jumbotron {
    background: #bbbbbb;
}

#nav {
    background: #070707;
    padding: 10px;
}

#heart {
    color: #ed254e;
    font-size: 1.6rem;
}

.navbar-brand, .nav-link, .nav-item{
    color: #9c706d;
}

.navbar-brand:hover, .nav-link:hover, .nav-item:hover {
    color: #c8908c;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-brand:hover {
    font-weight: bolder;
}

.nav-link {
    font-size: 1.2rem;
}

.nav-link:hover {
    font-weight: bold;
}

canvas {
    background: #bbbbbb;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow-x: hidden;
    display: block;
}

#about {
    padding-top: 45px;
}

.project {
    padding-bottom: 35px;
}